/* fonts */
@font-face {
    font-family: seves;
    src: url(./media/SEVESBRG.TTF);
}

.seves{

    font-family: seves;

}


body{

    margin: 0;
    padding: 0;
    background-color: var(--accent2);
    font-family: 'Cormorant Infant', serif;
    font-size: larger;
    color: var(--nero);

}

/* colori */
:root{

    --main: #290000;
    --secondary: rgb(247, 206, 101);
    --accent: #930C10;
    --accent2: rgb(255, 254, 189);
    --nero: rgb(0,0,0);

}

.text-main{

    color: var(--main);

}

.text-sec{

    color: var(--secondary);

}

.text-acc{

    color: var(--accent);

}

.text-acc2{

    color: var(--accent2);

}

.bg-main{

    background-color: var(--main);

}

.bg-sec{

    background-color: var(--secondary);

}

.bg-acc{

    background-color: var(--accent);

}

.bg-acc2{

    background-color: var(--accent2);

}

/* overflow hidden */
html{

    overflow-x: hidden;

}

/* navbar */
.logo{

    width: 60px;

}

.btnNavCustom{

    transition: 0.3s;
    border: 2px solid var(--main) ;

}

.btnNavCustom:hover{

    background-color: #F7CE65;
    border: 2px solid var(--main) ;

}

#navbar, #containerNav{
    transition: 0.4s;
}

/* header */

.mainPage{
    background: linear-gradient(rgba(255, 254, 189, 0.637),rgba(255, 254, 189, 0),rgba(255, 254, 189, 0)), linear-gradient(rgba( 0,0,0,1 ), rgba(0,0,0,0.5)), url(./media/bgDado.jpg);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
}

h1{
    font-family: seves;
    text-shadow: 5px 5px #290000;
}


/* animate cusom */
#stragiIntersect{
    letter-spacing: 15px;
}

/* SWIPER */
.swiper {
    /* width: 600px; */
    height: 400px;
}

.card-custom{

    height: 200px;
    width: 300px;
    color: black;
    border: 2px solid var(--main);
    border-radius: 20px;
    background-color: var(--secondary);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



/* scroller */

#scroller{
    position: fixed;
    bottom: 0px;
    right: 10px;
    z-index: 1;
}

.img-scroll{

    width: 100px;

}

.text-scroll{

    margin-left: 25px;

}


/* footer */
.imgCustom{
    height: 60px;
}

.hCustomHeader{
    height: 300px;
}


.announcement-card{
    width: 200px;
    min-height: 300px;
    background-color: var(--secondary);
    border: 2px solid var(--main);
    border-radius: 20px;
    margin-top: 20px;
    color: var(--nero);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

/* filtra prezzo */

#priceInput{
    width: 100%;
}

.inputNumber{
    color:#930C10;
    font-size: 30px;
    font-weight: 900;
}

.img-annunci{

    width: 200px;
    padding: 5px;

}